
@{
    ViewBag.Title = "_AddBookView";
}

<h2>_AddBookView</h2>

@using (Html.BeginForm("AddBook", "Book", FormMethod.Post, new { id = "addForm" }))
{
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-field">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-field">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-field">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-field">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-field">
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Save" />
    </div>
}