
@{
  Layout = null;
}

<div class="modal fade" id="addBookModal" role="dialog" aria-hidden="true" style="overflow: hidden">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="col-md-11 modal-title" id="">Add Book</h5>
        </div>
        <div class="col-md-1">
          <a data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></a>
        </div>
      </div>
      <div class="modal-body">
        <form id="add-book-form">
          <div class="form-group">
            <label for="book-name"></label>
            <input id="book-name" type="text" data-bind="textInput: name" />
          </div>
          <div class="form-group">
            <label for="publish-date"></label>
            <input id="publish-date" type="text" data-bind="textInput: publishDate" />
          </div>
          <div class="form-group">
            <label for="page-count"></label>
            <input id="page-count" type="text" data-bind="textInput: pageCount" />
          </div>
          <div class="form-group">
            <label for="rating"></label>
            <input id="rating" type="text" data-bind="textInput: rating" />
          </div>
          @*<div class="form-group">
                <label for="authors"></label>
                <input id="authors" type="text" data-bind="textInput: authors" />
            </div>*@
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bind="click: addBook" >Save</button>
          </div>
      </div>
    </div>
  </div>
</div>