<style>

    .table-container {}
    .table-container .dataTables_wrapper.form-inline {
        flex-direction: column;
        align-items: stretch;
    }
    .table-container tr.even {
        background-color: #eee;
    }
    .table-container tr:not(:first-child) > td {
        border-top: 1px solid #ddd;
    }
    table.dataTable thead .sorting {
        white-space: nowrap;
    }

    .dataTables_wrapper .dataTables_length input,
    .dataTables_wrapper .dataTables_length select {
        margin: 0 0.5em;
    }



    td.details-control {
        background: url('../../Content/DataTables/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../Content/DataTables/images/details_close.png') no-repeat center center;
    }

    span.field-validation-error {
        color: red;
    }
</style>
<a class="btn btn-primary" data-toggle="modal" data-target="#add_book_modal" data-modal="add-book">Add New Book</a>

<div>
  @Html.Partial("~/Views/Book/AddBook.cshtml")
</div>

@*<a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Author</a>*@
    <div class="table-container">
        <table id="bookGrid" class="tablecontainer">
            <thead>
                <tr>
                    <th></th>
                    <th>BookId</th>
                    <th>Name</th>
                    <th>Published</th>
                    <th>PageCount</th>
                    <th>Rating</th>
                    <th>Author</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
